.header {
  height: $header-height;
  width: 100%;
  display: flex;
  padding: 0 $page-margin;
  position: fixed;

  color: $font-secondary-color;

  @include header-gradient;

  &:hover {
    @include header-gradient-hover;
  }
}
