.menu-item {
  margin-right: $big-margin;
  display: flex;
  align-items: center;
  border-bottom: 0.125rem solid $transparent-color;
  min-height: $header-height;

  &__link {
    color: $font-secondary-color;
    text-transform: uppercase;
    letter-spacing: $small-letter-spacing;
    font-size: $font-size-small;

    &--focused {
      color: $primary-color;
    }
  }

  &:hover {
    border-color: $primary-color;
  }
}
