.tile {
  background: white;
  padding: $regular-padding;
  margin-bottom: $big-margin;

  &--long-term {
    min-height: 17.75rem;
    width: 33%;

    @media (max-width: $breakpoint-desktop) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}

.weather-list {
  margin: $regular-margin 0;

  &__item {
    margin: $regular-margin 0;;
  }
}
