.widget {
  background: $tertiary-color;
  margin: $regular-margin;
  padding: $small-padding $regular-padding;
  border-radius: $primary-radius;
  color: $font-secondary-color;
}

.weather-item {
  margin: 0 $little-margin;
}
