.widget {
  background: $tertiary-color;
  margin: $regular-margin;
  padding: $small-padding;
  border-radius: $primary-radius;
  color: $font-secondary-color;

  @media (max-width: $breakpoint-phone) {
    display: none;
  }
}

.weather-item {
  margin: 0 $little-margin;
}
