// margin and padding

$page-padding: 10rem;
$page-padding-small: 7rem;
$page-padding-tablet: 1rem;

$little-margin: 0.25rem;
$small-margin: 0.5rem;
$regular-margin: 1rem;
$big-margin: 2rem;

$little-padding: 0.25rem;
$small-padding: 0.5rem;
$regular-padding: 1rem;
$big-padding: 2rem;

// sizes

$header-height: 4.375rem;
$daily-image-height: 23.125rem;

$icon-big: 2rem;

// loader

$loader-size: 6.25rem;
$loader-radius: 50%;
$loader-animation: spin 2s linear infinite;

// font

$page-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Solis', sans-serif;

$font-weight-base: 400;
$font-weight-highlight: 700;
$font-weight-heavy: 900;

$font-size-logo: 1.5rem;
$font-size-logo-sun: 2rem;
$font-size-small: 0.875rem;
$font-size-big: 1.5rem;

$small-letter-spacing: -0.0625rem;

// color

$primary-color: #fd7d47;
$secondary-color: #adb5bd;
$tertiary-color: #000;
$font-color: #495057;
$font-secondary-color: #fff;
$transparent-color: #00000000;
$overlay-color: rgba(000, 0, 0, 0.2);
$white: #fff;
$danger-color: #f35120;
$background-color: #efeeea;

// radius

$primary-radius: 0.25rem;

// breakpoints

$breakpoint-desktop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 600px;
$breakpoint-desktop-big: 1200px;
