html {
  box-sizing: border-box;
}

body {
  font-family: $page-font-family;
  color: $font-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.flex-full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.body-header {
  font-size: $font-size-big;
  margin: $regular-margin 0;
  border-bottom: 0.125rem solid $primary-color;
}

.page {
  background: $background-color;
  padding: $page-padding-small $page-padding;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $breakpoint-desktop) {
    padding: $page-padding-small;
    align-items: center;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: $page-padding-small $page-padding-tablet;
  }
}



